{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "react/prefer-stateless-function": 0,
    "semi": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
