.search-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}

.search-form__input {
  padding: 6px;
  font-size: 16px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 8px;
}

.search-form__button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 4px;
  padding: 6px;
  align-self: flex-start;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}
