@import '../../index';

.search-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f3faff;
  height: $search-from-height;
}

.search-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}

.search-form__input {
  padding: 6px;
  font-size: 16px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 8px;
}
