@import '../../index';
$list-actions-padding: 10px;
$comment-list-padding: 15px;

.comment-list {
  list-style-type: none;
  margin: 0;
  background: $powder-blue;
  padding: $comment-list-padding 0 0 0;
}

.comment-list__loading-overlay {
  height: 100%;
  width: 100%;
  opacity: 50%;
  position: absolute;
  background: #b1b1b1b3;
}

.comment-list__container {
  background: $powder-blue;
  height: calc(
          100% - ((2 * #{$comment-list-padding}) + #{$header-height} + #{$search-from-height} + #{$list-actions-height} + (2 * #{$list-actions-padding}))
  );
  overflow-y: auto;
}

.comment-list__header {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid;
  margin: 5px 0;
}

.comment-list__actions {
  height: $list-actions-height;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100%;
  background: $cobalt-blue;
  padding: $list-actions-padding 0;
}

.comment-list__button {
  color: $black;
  background-color: $white;
  border: 0;
  font-size: 16px;
  padding: 6px 12px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;

  &:first-of-type {
    margin-right: 15px;
  }

  &:hover {
    color: $light-black;
    background-color: $light-grey;
  }

  &--disabled {
    cursor: default;
    background: #e0e0e0;
    color: #9c9c9c;

    &:hover {
      cursor: default;
      background: #e0e0e0;
      color: #9c9c9c;
    }
  }
}
