$white: #fff;
$black: #000;
$dark-blue: #0057e7;
$link-blue: #3f9ade;
$cobalt-blue: #33A8FF;
$manganese-blue: #66beff;
$powder-blue: #E6F5FF;
$pale-celestine: #F3FAFF;
$light-grey: #e2e6ea;
$light-black: #212529;
$input-border-color: #ced4da;
$dark-purple: #551a8b;
$header-white: #fafafa;
$header-border-color: #CCC;
$reddit-blue: #0079d3;
$dark-grey: #888;
$primary-blue: #007bff;
$primary-blue-dark: #0069d9;
$primary-blue-dark-border: #0062cc;

$search-from-height: 98px;
$header-height: 106px;
$list-actions-height: 30px;

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#root {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.primary-button {
  font-size: 16px;
  color: $white;
  background-color: $primary-blue;
  border-color: $primary-blue;
  border-radius: 4px;
  padding: 6px 12px;
  align-self: flex-start;
  height: 32px;

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $primary-blue-dark;
    border-color: $primary-blue-dark-border;
  }
}
